<h1>本当に退会しますか</h1>
<p>
  退会された場合、保存されている全ての情報が削除されます。<br>
「退会する」を押した時点で、退会手続きが完了しますのでご注意ください。
</p>

<%= form_with model: @customer, url: customers_withdraw_path, method: :patch,  local: true do |f| %>
  <%= link_to "退会しない", customers_mypage_path %>
  <%= f.submit "退会する" %>
<% end %>
