<h1>グループ一覧</h1>
<%= link_to "グループ作成", new_group_path %>

<% @groups.each do |group| %>
  <div>
    <p>グループ名</p>
    <p><%= link_to group.name, group_path(group) %></p>
    <p>紹介文</p>
    <p><%= group.content %></p>
  </div>
<% end %>