<div class="container">
  <h1>管理者ログイン</h1>
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-7 col-lg-6">
      <%= form_with model: @admin, url: new_admin_session_path, local: true do |f| %>
        <form action="#">
          <div class="row">

            <!-- アドレス -->
            <div class="input-group col-lg-12 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-envelope text-muted"></i>
                </span>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address",class:" form-control bg-white border-left-0 border-md" %>
            </div>

            <!-- パスワード -->
            <div class="input-group col-lg-12 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-lock text-muted"></i>
                </span>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password",class:"form-control bg-white border-left-0 border-md" %>
            </div>

            <!-- Submit Button -->
            <div class="form-group col-lg-12 mx-auto mb-0">
              <%= f.submit "ログイン", class:"btn btn-primary btn-block py-2 font-weight-bold" %>
            </div>

          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function () {
      $('input, select').on('focus', function () {
          $(this).parent().find('.input-group-text').css('border-color', '#80bdff');
      });
      $('input, select').on('blur', function () {
          $(this).parent().find('.input-group-text').css('border-color', '#ced4da');
      });
  });
</script>