<div class="container">
  <h1>ABOUT</h1>
  <h2>ポートフォリオ : Organize</h2>
  <h2>Organizeについて</h2>
  <p>新入社員等で仕事内容を教える時間があまり取れなくてもこれを見ればまる分かり</p>

  <h2>サービス概要</h2>
  <p>
    Organizeは、発注と在庫管理を効率的に行うためのWEBサイトです。
    部署ごとや発注物で分けられるグループを作成し、各グループごとによく使用する商品を登録できます。
    また、複数の商品を一気に発注する際には、便利な発注画面を提供しています。
  </p>

  <h2>利用方法</h2>
  <section>
    <h3>STEP-1：グループ作成</h3>
    <p>部署ごとや発注物で分けてグループを作成します。</p>
    <p></p>
  </section>

  <section>
    <h3>STEP-2：商品登録</h3>
    <p>各グループごとによく使用する商品を登録します。登録した商品は他のグループには表示されません。</p>
  </section>

  <section>
    <h3>STEP-3：発注</h3>
    <p>
      発注ボタンを押すと、発注内容を入力する画面が表示されます。複数の商品を一気に入力する際には、便利な入力フォームを利用してください。<br>
      [既存]：登録した商品を選択する事が出来ます。<br>
      [新規]：新しく発注する商品情報を入力する事が出来ます。また、入力した情報は自動的に商品登録されます。
    </p>
  </section>

  <section>
    <h3>STEP-4：発注管理</h3>
    <p>発注履歴から発注した商品の発注状況が確認できます。</p>
  </section>
</div>