<div class="container">
  <h1>ABOUT</h1>
  <section class="wrapper">
    <h2>Organizeについて</h2><br>
    <h2>※このサイトはポートフォリオです</h2>
  </section>

  <section class="wrapper">
    <h2>サービス概要</h2>
    <p>Organizeは発注と在庫管理を効率的に行うためのWEBサイトです。<br class="br-PC">
    <p>部署ごとや発注物でグループを分けて作成し、<br class="br-SP">各グループごとによく使用する商品を登録できます。<br class="br-PC"></p>
    <p>複数の商品を一気に発注する際には、<br class="br-SP">便利な発注画面を提供しています。</p>
    </p>
  </section>

  <section class="wrapper">
    <h2>利用方法</h2>

    <div class="step">
      <h3>STEP-1：グループ作成</h3>
      <p class="step-p">部署ごとや発注物で分けてグループを作成します。</p>
    </div>

    <div class="step">
      <h3>STEP-2：商品登録</h3>
      <p class="step-p">各グループごとによく使用する商品を登録します。登録した商品は他のグループには表示されません。</p>
    </div>

    <div class="step">
      <h3>STEP-3：発注</h3>
      <p class="step-p">
        発注ボタンを押すと、発注内容を入力する画面が表示されます。<br>
        複数の商品を一気に入力する際には、便利な入力フォームを利用してください。<br>
        [既存]：登録した商品を選択する事が出来ます。<br>
        [新規]：新しく発注する商品情報を入力する事が出来ます。また、入力した情報は自動的に商品登録されます。
      </p>
    </div>

    <div class="step">
      <h3>STEP-4：発注管理 / 在庫管理</h3>
      <p class="step-p">
        発注履歴から発注ごとの発注状況が確認や変更ができます。<br>
        在庫管理から発注した商品の在庫状況の確認や変更ができます。
      </p>
    </div>
  </section>
</div>