<div class="container">
  <h1>Organizeの使用方法</h1>
  <p>新入社員等で仕事内容を教える時間があまり取れなくてもこれを見ればまる分かり</p>

  <section>
    <h2>STEP-1：グループ作成</h2>
    <p>部署ごとや発注商品別等でグループを分けて作成します。</p>
    <p></p>
  </section>

  <section>
    <h2>STEP-2：商品登録</h2>
    <p>発注作業時に何度も入力しない為に頻繫に使用する商品を登録します。</p>
  </section>

  <section>
    <h2>STEP-3：発注</h2>
    <p>
      発注ページから発注願いボタンをクリックし、複数商品の発注願いを送信します。<br>
      [既存]：登録した商品を選択する事が出来ます。<br>
      [新規]：新しく発注する商品情報を入力する事が出来ます。また、入力した情報は自動的に商品登録されます。
    </p>
  </section>

  <section>
    <h2>STEP-4：発注管理</h2>
    <p>発注履歴から発注した商品の発注状況が確認できます。</p>
  </section>
</div>