<div class="container">
  <h1>TOP</h1>
  <h2>Organize - 発注と在庫管理のためのWEBサイト</h2>

  <h2>最近の活動</h2>
  <p>最新の発注情報や更新された商品情報などを表示</p>

  <h2>使い方ガイド</h2>
  <p>Organizeの使用方法は <%= link_to "こちら", about_path %> からご確認ください。</p>

  <h2>お知らせ</h2>
  <p>システムのアップデートや重要なお知らせを表示</p>

  <h2>フィードバック</h2>
  <p>サイトの改善や問題報告などのフィードバックフォームへのリンク</p>
</div>