<div class="container">
  <h1>TOP</h1>

  <section class="wrapper">
    <h2>Organize - 発注と在庫管理のためのWEBサイト</h2><br>
    <h2>※このサイトはポートフォリオです</h2>
  </section>

  <section class="wrapper">
    <h2>お知らせ</h2>
    <p>最新の発注情報や更新された商品情報などを表示</p>
  </section>

  <section class="wrapper">
    <h2>使い方ガイド</h2>
    <p>Organizeの使用方法は <%= link_to "こちら", about_path %> からご確認ください。</p>
  </section>
</div>