<div class="container">
  <h1>会員一覧</h1>

  <div class="d-flex justify-content-center">
    <table class="table table-bordered mt-3" style="width: 80%">
      <thead class="text-center thead-light">
        <th>会員ID</th>
        <th>氏名</th>
        <th>ステータス</th>
      </thead>
      <% @customers.each do |customer| %>
        <tbody class="text-center bg-white">
          <td><%= customer.id %></td>
          <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
          <td>
            <% if customer.is_active? %>
              <span class="badge badge-primary">有効</span>
            <% else %>
              <span class="badge badge-secondary">退会済</span>
            <% end %>
          </td>
        </tbody>
      <% end %>
    </table>
  </div>
</div>