<div class="container">
  <h1>会員詳細</h1>

  <p>会員ID</p>
  <%= @customer.id %>

  <p>氏名</p>
  <%= @customer.full_name %>

  <p>ステータス</p>
  <% if @customer.is_active? %>
    <p class="text-center">有効</p>
  <% else %>
    <p class="text-center text-success">退会済</p>
  <% end %>

  <%= link_to "編集", edit_admin_customer_path %>
</div>