<div class="container">
  <h1>タグ一覧</h1>

  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item mb-3">
            <%# タグの名前と、関連付く記事数を表示 %>
            <%= "#{tag.name} ( 登録商品: #{tag.items.count} )" %>
            <ul class="list-group">
              <% tag.items.each do |item| %>
                <li class="list-group-item">
                  <%= link_to item.name, admin_group_item_path(params[:group_id], item) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-around">
    <%= link_to "注文履歴に戻る", admin_group_orders_path(params[:group_id]), class:"btn btn-primary" %>
  </div>
</div>