<div class="container">
  <h1>" <%= @tag.name %> "に関連付いた商品一覧</h1>

  <%= render "public/items/index", items: @items %>

  <%= paginate @items, theme: 'bootstrap-5' %>

  <div class="d-flex justify-content-around mt-3">
    <%= link_to "商品一覧に戻る", group_items_path(params[:group_id]), class:"btn btn-secondary" %>
  </div>
</div>