@use '~bootstrap/scss/bootstrap';
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e6e6e6;
}

h1 {
  width: 400px;
  text-align: center;
  margin: 0 auto 10px auto;
  padding: 10px;
  font-size: 25px;
  background-color: #fff;
  border-radius: 20px;
}

h2 {
  display: inline-block;
  border-bottom: solid 1px;
  margin: 0 auto 10px auto;
  padding: 5px;
  font-size: 20px;
}

h3 {
  text-align: start;
  padding: 0 40px;
  font-size: 20px;
}

// ここからサイドバー/ヘッダー
.logo {
  margin-bottom: 0;
  background-color: #7386D5;
  // 52px
  line-height: 59px;
  text-align: center;
  font-size: 30px;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.sidebar-link_link,
.sidebar-link:hover,
.sidebar-link:focus {
  color: white;
  background-color: #dee2e6;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  width: 250px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul li .sidebar-link {
  color: white;
  margin-left: 15px;
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li .sidebar-link:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>.sidebar-link,
.sidebar-link[aria-expanded="true"] {
  color: #fff;
  background: #7386D5;
}

.sidebar-link[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul .sidebar-link {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #7386D5;
}

ul ul ul .sidebar-link {
  font-size: 0.9em !important;
  padding-left: 50px !important;
  background: #7386D5;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.navbar {
  padding: 10px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  margin-left: 3px;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
  h1 {
    width: auto;
  }
}
// ここまでサイドバー/ヘッダー

.container {
  margin: 15px auto;
}

dl {
  display: flex;
}

dt {
  width: 15%;
}

dd {
  width: 30%;
}

.card {
  margin: 15px;
  border-radius: 20px 20px 20px 20px;
}

// 商品一覧のタグレイアウト
ul.cp_list {
	position: relative;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul.cp_list li {
	padding: 0.3em 0.5em;
	margin: 3px;
	line-height: 1.5;
	vertical-align: middle;
	background: #e9ecef;
	border-radius: 20px 20px 20px 20px;
	color: #ffffff;
}

// TOP/ABOUTページ関連
.wrapper {
  margin: 25px auto;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.step {
  background-color: #ededed78;
  margin: 15px;
  padding: 5px;
  border-bottom: solid 1px;
  border-top: solid 1px;
}

.step-p {
  margin: 0;
  text-align: start;
  padding-left: 70px;
}

footer {
  text-align: center;
  line-height: 40px;
  position: sticky;
  top: 100vh;
  width: 100%;
  background: #fff;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

// エラーメッセージ関係
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

// .error_list {
// 	position: relative;
// 	padding: 0;
// 	margin: 0;
// 	list-style-type: none;
// }

// .error_list>li {
//   padding: 0.3em 0.5em;
//   margin: 3px;
//   line-height: 1.5;
//   vertical-align: middle;
// }

// .field_with_errors {
//   display: inline-block;
// }

// .field_with_errors>.control-label {
//   max-width: 100%;
// }

// .field_with_errors>.form-control {
//   border: 2px solid #fb0000;
//   border-radius: 6px;
//   height: auto;
// }

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}