@use '~bootstrap/scss/bootstrap';
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e6e6e6;
}

header {
  padding: 30px 4% 30px;
  // position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}

h1 {
  width: 400px;
  text-align: center;
  margin: 0 auto 10px auto;
  padding: 10px;
  font-size: 20px;
  background-color: #fff;
}

.header_ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.header_li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav {
  margin: 0 0 0 auto;
}

main {
  // position: relative;
  top: 100px;
}

.container {
  margin: 15px auto;
}

dl {
  display: flex;
}

dt {
  width: 15%;
}

dd {
  width: 30%;
}

.card {
  margin: 15px;
  border-radius: 20px 20px 20px 20px;
}

ul.cp_list {
	position: relative;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul.cp_list li {
  // width: 100px;
	padding: 0.3em 0.5em;
	margin: 3px;
	line-height: 1.5;
	vertical-align: middle;
	background: #e9ecef;
	border-radius: 20px 20px 20px 20px;
	color: #ffffff;
}

footer {
  text-align: center;
  line-height: 40px;
  position: sticky;
  top: 100vh;
  width: 100%;
  background: #fff;
}