<div class="container">
  <h1>グループ一覧</h1>

  <div class="row">
    <div class="col-3">
      <div class="card my-3 text-center">
        <div class="card-body">
          <% @groups.each do |group| %>
            <div>
              <p>グループ名</p>
              <p><%= link_to group.name, group_orders_path(group) %></p>
              <p>紹介文</p>
              <p><%= group.content %></p>
              <p><%= link_to "グループ詳細", group_path(group) %></p>
              <%= link_to "編集", edit_group_path(group) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>