<div class="container">
  <h1>商品詳細</h1>

  <p>商品名</p>
  <p><%= @item.name %></p>

  <p>購入先サイト</p>
  <p><%= @item.site %></p>

  <p>コード</p>
  <p><%= @item.code %></p>

  <p>タグ</p>
  <ul>
    <%# 該当のPostからアソシエーションでタグを取得 %>
    <% @item.tags.each do |tag| %>
      <%# タグを展開 %>
      <li>
        <%= link_to tag.name, tag_path(tag) %>
      </li>
    <% end %>
  </ul>
</div>