<% if obj.errors.any? %>
 <div class="card text-center card text-white bg-danger mb-3" style="width=50%;">
   <%= obj.errors.count %>件のエラーが発生しました
    <!--<ul class="error_list">-->
    <!--  <#% obj.errors.full_messages.each do |message| %>-->
    <!--    <li><%#= message %></li>-->
    <!--  <#% end %>-->
    <!--</ul>-->
  </div>
<% end %>