<% if model.errors.any? %>
 <div class="error card text-center card text-white bg-danger">
   <%= model.errors.count %>件のエラーが発生しました
    <ul class="error_list">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>